---
enabled: true
realm: disasters
displayName: Disasters
displayNameHtml: disasters

clients:
  - clientId: disasters-stac
    name: Disasters STAC Catalog
    rootUrl: https://disasters.openveda.cloud/api/stac
    publicClient: true
    attributes: {}
    redirectUris:
      - https://disasters.openveda.cloud/api/stac/*
      - https://dev.disasters.openveda.cloud/api/stac/*
    webOrigins:
      - https://disasters.openveda.cloud
      - https://dev.disasters.openveda.cloud
    protocol: openid-connect
    fullScopeAllowed: true
    defaultClientScopes:
      - web-origins
      - acr
      - profile
      - roles
      - basic
      - email
      - stac:item:create
      - stac:item:update
      - stac:item:delete
      - stac:collection:create
      - stac:collection:update
      - stac:collection:delete

  - clientId: disasters-airflow-stac-etl
    name: Disasters Airflow STAC ETL
    secret: $(env:DISASTERS_AIRFLOW_STAC_ETL_CLIENT_SECRET)
    publicClient: false
    attributes: {}
    protocol: openid-connect
    fullScopeAllowed: true
    standardFlowEnabled: false
    implicitFlowEnabled: false
    directAccessGrantsEnabled: false
    serviceAccountsEnabled: true
    optionalClientScopes:
      - stac:item:create
      - stac:item:update
      - stac:item:delete
      - stac:collection:create
      - stac:collection:update
      - stac:collection:delete
    defaultClientScopes:
      - roles

  - clientId: disasters-ingest-api
    name: Disasters Ingest API
    rootUrl: https://disasters.openveda.cloud/api/ingest
    publicClient: true
    attributes: {}
    redirectUris:
      - https://disasters.openveda.cloud/api/ingest/*
      - https://dev.disasters.openveda.cloud/api/ingest/*
    webOrigins:
      - https://disasters.openveda.cloud
      - https://dev.disasters.openveda.cloud
    protocol: openid-connect
    fullScopeAllowed: true
    defaultClientScopes:
      - web-origins
      - acr
      - profile
      - roles
      - basic
      - email
      - stac:item:create
      - stac:item:update
      - stac:item:delete
      - stac:collection:create
      - stac:collection:update
      - stac:collection:delete

  - clientId: disasters-airflow-ingest-api-etl
    name: Disasters Airflow Ingest API ETL
    secret: $(env:DISASTERS_AIRFLOW_INGEST_API_ETL_CLIENT_SECRET)
    publicClient: false
    attributes: {}
    protocol: openid-connect
    fullScopeAllowed: true
    standardFlowEnabled: false
    implicitFlowEnabled: false
    directAccessGrantsEnabled: false
    serviceAccountsEnabled: true
    optionalClientScopes:
      - stac:item:create
      - stac:item:update
      - stac:item:delete
      - stac:collection:create
      - stac:collection:update
      - stac:collection:delete
    defaultClientScopes:
      - roles

  - clientId: disasters-ingest-ui
    name: Ingest UI
    rootUrl: https://ingest.disastersopenveda.cloud
    secret: $(env:DISASTERS_INGEST_UI_CLIENT_SECRET)
    publicClient: false
    attributes: {}
    redirectUris:
      - https://ingest.disasters.openveda.cloud/*
    webOrigins:
      - https://ingest.disasters.openveda.cloud
    protocol: openid-connect
    fullScopeAllowed: true
    defaultClientScopes:
      - web-origins
      - acr
      - profile
      - roles
      - basic
      - email
      - dataset:create
      - dataset:update
    protocolMappers:
      # Include user groups in JWT tokens
      - name: groups
        protocol: openid-connect
        protocolMapper: oidc-group-membership-mapper
        config:
          access.token.claim: "true"
          userinfo.token.claim: "true"
          id.token.claim: "true"
          introspection.token.claim: "true"
          claim.name: groups
          jsonType.label: String
          multivalued: "true"
          full.path: "false"
          usermodel.clientRoleMapping.clientId: ingest-ui
          usermodel.clientRoleMapping.rolePrefix: ""


roles:
  client:
    disasters-stac:
      - name: Admin
        description: Can create, update and delete STAC collections and items
      - name: Editor
        description: Can create and update STAC collections and items
    disasters-ingest-api:
      - name: Admin
        description: Can create, update and delete STAC collections and items
      - name: Editor
        description: Can create and update STAC collections and items
    disasters-ingest-ui:
      - name: Editor
        description: Can initiate and update dataset ingests

clientScopeMappings:
  disasters-stac:
    - clientScope: stac:item:create
      roles:
        - Admin
        - Editor
    - clientScope: stac:item:update
      roles:
        - Admin
        - Editor
    - clientScope: stac:item:delete
      roles:
        - Admin
        - Editor
    - clientScope: stac:collection:create
      roles:
        - Admin
        - Editor
    - clientScope: stac:collection:update
      roles:
        - Admin
        - Editor
    - clientScope: stac:collection:delete
      roles:
        - Admin
  disasters-ingest-api:
    - clientScope: stac:item:create
      roles:
        - Admin
        - Editor
    - clientScope: stac:item:update
      roles:
        - Admin
        - Editor
    - clientScope: stac:item:delete
      roles:
        - Admin
        - Editor
    - clientScope: stac:collection:create
      roles:
        - Admin
        - Editor
    - clientScope: stac:collection:update
      roles:
        - Admin
        - Editor
    - clientScope: stac:collection:delete
      roles:
        - Admin
  disasters-ingest-ui:
    - clientScope: dataset:create
      roles:
        - Editor
    - clientScope: dataset:update
      roles:
        - Editor

clientScopes:
  - name: stac:item:create
    description: Create STAC items
    protocol: openid-connect
  - name: stac:item:update
    description: Update STAC items
    protocol: openid-connect
  - name: stac:item:delete
    description: Delete STAC items
    protocol: openid-connect
  - name: stac:collection:create
    description: Create STAC collections
    protocol: openid-connect
  - name: stac:collection:update
    description: Update STAC collections
    protocol: openid-connect
  - name: stac:collection:delete
    description: Delete STAC collections
    protocol: openid-connect
  - name: dataset:create
    description: Ingest new datasets
    protocol: openid-connect
  - name: dataset:update
    description: Update existing datasets
    protocol: openid-connect

groups:
  - name: System Administrators
    clientRoles:
      disasters-stac:
        - Admin
      disasters-ingest-api:
        - Admin
      disasters-ingest-ui:
        - Editor

  - name: Developers
    clientRoles:
      disasters-stac:
        - Admin
      disasters-ingest-api:
        - Admin
      disasters-ingest-ui:
        - Editor

  - name: Data Editors
    clientRoles:
      disasters-stac:
        - Editor
      disasters-ingest-api:
        - Editor
      disasters-ingest-ui:
        - Editor

  - name: Tenants
    subGroups:
      - name: Disasters
        subGroups:
          - name: Admins
            clientRoles:
              disasters-stac:
                - Admin
              disasters-ingest-api:
                - Admin
          - name: Editors
            clientRoles:
              disasters-stac:
                - Editor
              disasters-ingest-api:
                - Editor

identityProviders:
  # CILogon
  - alias: cilogon # NOTE: this alias appears in the redirect_uri for the auth flow, update Github OAuth settings accordingly
    displayName: CILogon
    providerId: oidc
    enabled: true
    updateProfileFirstLoginMode: on
    trustEmail: false
    storeToken: false
    addReadTokenRoleOnCreate: false
    authenticateByDefault: false
    linkOnly: false
    config:
      userInfoUrl: "https://cilogon.org/oauth2/userinfo"
      validateSignature: "true"
      tokenUrl: "https://cilogon.org/oauth2/token"
      jwksUrl: "https://cilogon.org/oauth2/certs"
      issuer: "https://cilogon.org"
      useJwksUrl: "true"
      pkceEnabled: "false"
      defaultScope: "openid email profile"
      metadataDescriptorUrl: "https://cilogon.org/.well-known/openid-configuration"
      authorizationUrl: "https://cilogon.org/authorize"
      clientAuthMethod: "client_secret_post"
      syncMode: "IMPORT"
      clientId: $(env:CILOGON_CLIENT_ID)
      clientSecret: $(env:CILOGON_CLIENT_SECRET)
identityProviderMappers:
  - name: "email"
    identityProviderAlias: cilogon
    identityProviderMapper: oidc-user-attribute-idp-mapper
    config:
      syncMode: "IMPORT"
      claim: "email"
      user.attribute: "email"
  - name: "first name"
    identityProviderAlias: cilogon
    identityProviderMapper: oidc-user-attribute-idp-mapper
    config:
      syncMode: "IMPORT"
      claim: "profile.given_name"
      user.attribute: "firstName"
  - name: "last name"
    identityProviderAlias: cilogon
    identityProviderMapper: oidc-user-attribute-idp-mapper
    config:
      syncMode: "IMPORT"
      claim: "profile.family_name"
      user.attribute: "lastName"

# Login Flow Configuration
browserFlow: Browser without Password
authenticationFlows:
  - alias: Browser without Password
    description: browser based authentication without username password form
    providerId: basic-flow
    topLevel: true
    builtIn: false
    authenticationExecutions:
      - authenticator: auth-cookie
        authenticatorFlow: false
        requirement: ALTERNATIVE
        priority: 10
        autheticatorFlow: false
        userSetupAllowed: false
      - authenticator: auth-spnego
        authenticatorFlow: false
        requirement: DISABLED
        priority: 20
        autheticatorFlow: false
        userSetupAllowed: false
      - authenticatorFlow: true
        requirement: ALTERNATIVE
        priority: 30
        autheticatorFlow: true
        flowAlias: Browser without Password forms
        userSetupAllowed: false
  - alias: Browser without Password forms
    description: Username, password, otp and other auth forms.
    providerId: basic-flow
    topLevel: false
    builtIn: false
    authenticationExecutions:
      - authenticatorConfig: cilogon
        authenticator: identity-provider-redirector
        authenticatorFlow: false
        requirement: REQUIRED
        priority: 20
        autheticatorFlow: false
        userSetupAllowed: false
      - authenticatorFlow: true
        requirement: CONDITIONAL
        priority: 21
        autheticatorFlow: true
        flowAlias: Browser without Password Browser - Conditional OTP
        userSetupAllowed: false
  - alias: Browser without Password Browser - Conditional OTP
    description: Flow to determine if the OTP is required for the authentication
    providerId: basic-flow
    topLevel: false
    builtIn: false
    authenticationExecutions:
      - authenticator: conditional-user-configured
        authenticatorFlow: false
        requirement: REQUIRED
        priority: 10
        autheticatorFlow: false
        userSetupAllowed: false
      - authenticator: auth-otp-form
        authenticatorFlow: false
        requirement: REQUIRED
        priority: 20
        autheticatorFlow: false
        userSetupAllowed: false
authenticatorConfig:
  - alias: cilogon
    config:
      defaultProvider: cilogon

users:
  - username: service-account-disasters-airflow-stac-etl
    emailVerified: true
    enabled: true
    serviceAccountClientId: disasters-airflow-stac-etl
    clientRoles:
      disasters-stac:
      - Admin
  - username: service-account-disasters-airflow-ingest-api-etl
    emailVerified: true
    enabled: true
    serviceAccountClientId: disasters-airflow-ingest-api-etl
    clientRoles:
      disasters-ingest-api:
      - Admin

