---
enabled: true
realm: maap
displayName: MAAP
displayNameHtml: MAAP 

clients:
  - clientId: jupyterhub-maap
    name: MAAP JupyterHub
    rootUrl: https://hub.maap-project.org
    secret: $(env:JUPYTERHUB_MAAP_CLIENT_SECRET)
    publicClient: false
    attributes: {}
    redirectUris:
      - https://hub.maap-project.org/hub/oauth_callback/*
    webOrigins:
      - https://hub.maap-project.org
    protocol: openid-connect
    fullScopeAllowed: true
    defaultClientScopes: &jupyterhub-default-client-scopes
      - basic
      - profile
    protocolMappers:
      - name: client-roles-claim
        protocol: openid-connect
        protocolMapper: oidc-usermodel-client-role-mapper
        config:
          access.token.claim: "false"
          userinfo.token.claim: "true"
          id.token.claim: "true"
          claim.name: roles
          jsonType.label: String
          multivalued: "true"
          usermodel.clientRoleMapping.clientId: jupyterhub-maap
          usermodel.clientRoleMapping.rolePrefix: ""

roles:
  client:
    jupyterhub-maap: &jupyterhub-roles
      - name: Admin
        description: Can use the JupyterHub Admin Panel
      - name: CPU:XS
        description: Access to extra small instances (~1.9GB RAM)
      - name: CPU:S
        description: Access to small instances (~3.7GB RAM)
      - name: CPU:M
        description: Access to medium instances (~7.4GB RAM)
      - name: CPU:L
        description: Access to large instances (~14.8GB RAM)
      - name: CPU:XL
        description: Access to extra large instances (~29.7GB RAM)
      - name: CPU:XXL
        description: Access to extra extra large instances (~60.6GB RAM)
      - name: CPU:XXXL
        description: Access to extra extra extra large instances (~121GB RAM)
      - name: GPU:T4
        description: Access to T4 GPU instances (1 T4 GPU)

groups:
  - name: JupyterHub MAAP Admin
    clientRoles:
      jupyterhub-maap:
        - Admin

  - name: JupyterHub MAAP User
    clientRoles:
      jupyterhub-maap:
        - CPU:XS
        - CPU:S
        - CPU:M
        - CPU:L
        - CPU:XL
        - CPU:XXL
        - CPU:XXL
        - CPU:XXXL

  - name: JupyterHub MAAP Basic User
    clientRoles:
      jupyterhub-maap:
        - CPU:XS
        - CPU:M
        - CPU:L
  
  - name: JupyterHub MAAP GPU User
    clientRoles:
      jupyterhub-maap:
        - GPU:T4

identityProviders:
  # EDL
  - alias: edl
    displayName: EarthData Login
    providerId: oidc
    enabled: true
    updateProfileFirstLoginMode: on
    trustEmail: false
    storeToken: false
    addReadTokenRoleOnCreate: false
    authenticateByDefault: false
    linkOnly: false
    config:
      userInfoUrl: "https://urs.earthdata.nasa.gov/oauth/userInfo"
      tokenUrl: "https://urs.earthdata.nasa.gov/oauth/token"
      issuer: "https://urs.earthdata.nasa.gov"
      authorizationUrl: "https://urs.earthdata.nasa.gov/oauth/authorize"
      validateSignature: "false"
      useJwksUrl: "true"
      pkceEnabled: "true"
      pkceMethod: "plain"
      defaultScope: "openid email profile"
      clientAuthMethod: "client_secret_basic"
      syncMode: "IMPORT"
      clientId: $(env:EDL_CLIENT_ID)
      clientSecret: $(env:EDL_CLIENT_SECRET)
identityProviderMappers:
  - name: "username"
    identityProviderAlias: edl
    identityProviderMapper: oidc-user-attribute-idp-mapper
    config:
      syncMode: "IMPORT"
      claim: "uid"
      user.attribute: "username"
  - name: "email"
    identityProviderAlias: edl
    identityProviderMapper: oidc-user-attribute-idp-mapper
    config:
      syncMode: "IMPORT"
      claim: "email_address"
      user.attribute: "email"
  - name: "first name"
    identityProviderAlias: edl
    identityProviderMapper: oidc-user-attribute-idp-mapper
    config:
      syncMode: "IMPORT"
      claim: "first_name"
      user.attribute: "firstName"
  - name: "last name"
    identityProviderAlias: edl
    identityProviderMapper: oidc-user-attribute-idp-mapper
    config:
      syncMode: "IMPORT"
      claim: "last_name"
      user.attribute: "lastName"

eventsListeners:
  - jboss-logging
  - email-on-user-creation

components:
  org.keycloak.userprofile.UserProfileProvider:
    - config:
        kc.user.profile.config:
          - >
            {
              "attributes": [
                {
                  "name": "username",
                  "displayName": "${username}",
                  "validations": {
                    "length": { "min": 3, "max": 255 },
                    "username-prohibited-characters": {},
                    "up-username-not-idn-homograph": {}
                  },
                  "permissions": {
                    "view": [ "admin", "user" ],
                    "edit": [ "admin", "user" ]
                  },
                  "multivalued": false
                },
                {
                  "name": "email",
                  "displayName": "${email}",
                  "validations": {
                    "email": {},
                    "length": { "max": 255 }
                  },
                  "required": {
                    "roles": [ "user" ]
                  },
                  "permissions": {
                    "view": [ "admin", "user" ],
                    "edit": [ "admin", "user" ]
                  },
                  "multivalued": false
                },
                {
                  "name": "firstName",
                  "displayName": "${firstName}",
                  "validations": {
                    "length": { "max": 255 },
                    "person-name-prohibited-characters": {}
                  },
                  "required": {
                    "roles": [ "user" ]
                  },
                  "permissions": {
                    "view": [ "admin", "user" ],
                    "edit": [ "admin", "user" ]
                  },
                  "multivalued": false
                },
                {
                  "name": "lastName",
                  "displayName": "${lastName}",
                  "validations": {
                    "length": { "max": 255 },
                    "person-name-prohibited-characters": {}
                  },
                  "required": {
                    "roles": [ "user" ]
                  },
                  "permissions": {
                    "view": [ "admin", "user" ],
                    "edit": [ "admin", "user" ]
                  },
                  "multivalued": false
                },
                {
                  "name": "institution",
                  "displayName": "Institution",
                  "validations": {},
                  "annotations": {
                    "inputTypePlaceholder": "Institution name"
                  },
                  "permissions": {
                    "view": [ "admin", "user" ],
                    "edit": [ "admin", "user" ]
                  },
                  "group": "user-metadata",
                  "multivalued": false
                },
                {
                  "name": "project",
                  "displayName": "Project",
                  "validations": {},
                  "annotations": {},
                  "permissions": {
                    "view": [ "admin", "user" ],
                    "edit": [ "admin", "user" ]
                  },
                  "group": "user-metadata",
                  "multivalued": false
                },
                {
                  "name": "sponsor",
                  "displayName": "Sponsor Name",
                  "validations": {},
                  "annotations": {},
                  "permissions": {
                    "view": [ "admin", "user" ],
                    "edit": [ "admin", "user" ]
                  },
                  "group": "user-metadata",
                  "multivalued": false
                },
                {
                  "name": "funding",
                  "displayName": "Funding Source",
                  "validations": {},
                  "annotations": {},
                  "permissions": {
                    "view": [ "admin", "user" ],
                    "edit": [ "admin", "user" ]
                  },
                  "group": "user-metadata",
                  "multivalued": false
                },
                {
                  "name": "additional_details",
                  "displayName": "Additional Details",
                  "validations": {},
                  "annotations": {
                    "inputTypeRows": "5",
                    "inputType": "textarea"
                  },
                  "permissions": {
                    "view": [ "admin", "user" ],
                    "edit": [ "admin", "user" ]
                  },
                  "group": "user-metadata",
                  "multivalued": false
                }
              ],
              "groups": [
                {
                  "name": "user-metadata",
                  "displayHeader": "User metadata",
                  "displayDescription": "Attributes, which refer to user metadata"
                }
              ]
            }

# Login Flow Configuration
browserFlow: browser-no-password
authenticationFlows:
  - alias: browser-no-password
    description: Browser based authentication
    providerId: basic-flow
    topLevel: true
    builtIn: false
    authenticationExecutions:
      - authenticator: auth-cookie
        authenticatorFlow: false
        requirement: ALTERNATIVE
        priority: 10
        autheticatorFlow: false
        userSetupAllowed: false
      - authenticator: auth-spnego
        authenticatorFlow: false
        requirement: DISABLED
        priority: 20
        autheticatorFlow: false
        userSetupAllowed: false
      - authenticatorConfig: edl
        authenticator: identity-provider-redirector
        authenticatorFlow: false
        requirement: REQUIRED
        priority: 25
        autheticatorFlow: false
        userSetupAllowed: false
      - authenticatorFlow: true
        requirement: ALTERNATIVE
        priority: 26
        autheticatorFlow: true
        flowAlias: browser-no-password Organization
        userSetupAllowed: false
      - authenticatorConfig: admin-login
        authenticatorFlow: true
        requirement: ALTERNATIVE
        priority: 30
        autheticatorFlow: true
        flowAlias: browser-no-password forms
        userSetupAllowed: false

  - alias: browser-no-password Organization
    providerId: basic-flow
    topLevel: false
    builtIn: false
    authenticationExecutions:
      - authenticatorFlow: true
        requirement: CONDITIONAL
        priority: 10
        autheticatorFlow: true
        flowAlias: browser-no-password Browser - Conditional Organization
        userSetupAllowed: false

  - alias: browser-no-password forms
    description: Username, password, otp and other auth forms.
    providerId: basic-flow
    topLevel: false
    builtIn: false
    authenticationExecutions:
      - authenticator: auth-username-password-form
        authenticatorFlow: false
        requirement: REQUIRED
        priority: 10
        autheticatorFlow: false
        userSetupAllowed: false
      - authenticatorFlow: true
        requirement: CONDITIONAL
        priority: 20
        autheticatorFlow: true
        flowAlias: browser-no-password Browser - Conditional OTP
        userSetupAllowed: false

  - alias: browser-no-password Browser - Conditional OTP
    description: Flow to determine if the OTP is required for the authentication
    providerId: basic-flow
    topLevel: false
    builtIn: false
    authenticationExecutions:
      - authenticator: conditional-user-configured
        authenticatorFlow: false
        requirement: REQUIRED
        priority: 10
        autheticatorFlow: false
        userSetupAllowed: false
      - authenticator: auth-otp-form
        authenticatorFlow: false
        requirement: REQUIRED
        priority: 20
        autheticatorFlow: false
        userSetupAllowed: false

  - alias: browser-no-password Browser - Conditional Organization
    description: Flow to determine if the organization identity-first login is to be used
    providerId: basic-flow
    topLevel: false
    builtIn: false
    authenticationExecutions:
      - authenticator: conditional-user-configured
        authenticatorFlow: false
        requirement: REQUIRED
        priority: 10
        autheticatorFlow: false
        userSetupAllowed: false
      - authenticator: organization
        authenticatorFlow: false
        requirement: ALTERNATIVE
        priority: 20
        autheticatorFlow: false
        userSetupAllowed: false

authenticatorConfig:
  - alias: edl
    config:
      defaultProvider: edl
  - alias: admin-login
    config: {}
        userSetupAllowed: false
